<div class="container mt-3">
  <h1>My movies lists</h1>
  <ul class="list-group w-25">
    <% @lists.each do |list| %>
      <li class="list-group-item"><%= list.name %></li>
    <% end %>
  </ul>
</div>
